<!-- Top menu -->
<nav class="navbar navbar-dark fixed-top navbar-expand-md navbar-no-bg">
  <div class="container">
    <a class="navbar-brand"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">Menu
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
<!--      <i class="material-icons search-icons">-->
<!--        search-->
<!--      </i>-->
      <i class="input-group-text material-icons search-icons">search</i>

      <!--      <ul class="navbar-nav ml-auto">-->
<!--        <li class="nav-item">-->
<!--          <app-search class="nav-link scroll-link"></app-search>-->
<!--        </li>-->
<!--      </ul>-->
      <app-search></app-search>
      <ul class="navbar-nav ml-auto">
        <li class="nav-item" *ngIf="getRole() === 'ADMIN'">
          <a class="nav-link scroll-link" href="http://localhost:4200/user">Usuarios</a>
        </li>
        <li class="nav-item" *ngIf="getRole() === 'ADMIN' || getRole() === 'RESTAURANT'">
          <a class="nav-link scroll-link" href="http://localhost:4200/restaurant">Restaurantes</a>
        </li>
        <li class="nav-item" *ngIf="getRole() === 'ADMIN' || getRole() === 'RESTAURANT'">
          <a class="nav-link scroll-link" href="http://localhost:4200/restaurant/*/product">Productos</a>
        </li>
        <li class="nav-item" *ngIf="getRole() === 'ADMIN' || getRole() === 'RESTAURANT'">
          <a class="nav-link scroll-link material-icons" style="color:blue" href="http://localhost:4200/account">person</a>
          <span class="nav-link scroll-link material-icons" style="color:red" (click)="logout()">exit_to_app</span>
        </li>
<!--        <li class="nav-item">
&lt;!&ndash;          <a class="nav-link scroll-link" href="http://localhost:4200/login">Log out</a>&ndash;&gt;
          <span class="nav-link scroll-link" (click)="logout()">Salir</span>
        </li>-->
      </ul>
    </div>
  </div>
</nav>


