<div class="custom-app-modal" *ngIf="visible">
  <div class="modal-dialog">
    <div class="modal-content">
      <form>
        <div class="modal-header">
          <h4 class="modal-title">Eliminar Restaurante</h4>
          <button type="button" class="close" (click)="closeModal()">&times;</button>
        </div>
        <div class="modal-body">
          <p>¿Estás seguro de eliminar el restaurante?</p>
          <p class="text-warning"><small>Esta acción no se puede deshacer.</small></p>
        </div>
        <div class="modal-footer">
          <input type="button" class="btn btn-default" (click)="closeModal()" value="Cancel">
          <input type="submit" class="btn btn-danger" data-target="#AvanzaModal" value="Delete" (click)="onDeleteRestaurant()">
        </div>
      </form>
    </div>
  </div>
</div>
