
<!--&lt;!&ndash;<div class="container">&ndash;&gt;-->
  <!--&lt;!&ndash;<h1>Iniciar sesión</h1>&ndash;&gt;-->

  <!--<form class="form">-->
    <!--<input type="text" #username name="username" placeholder="Username">-->
    <!--<input type="password" #password name="password" placeholder="Password">-->
    <!--<button type="submit" (click)="logIn(username.value, password.value, $event)" id="login-button">Login</button>-->
  <!--</form>-->
<!--</div>-->

<!--<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">-->
<!--<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>-->
<!--<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>-->
<!--&lt;!&ndash;&#45;&#45;&#45;&#45; Include the above in your HEAD tag &#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&ndash;&gt;-->

<!--<body>-->
<!--<div id="login">-->
  <!--<h3 class="text-center text-white pt-5">Login form</h3>-->
  <!--<div class="container">-->
    <!--<div id="login-row" class="row justify-content-center align-items-center">-->
      <!--<div id="login-column" class="col-md-6">-->
        <!--<div class="login-box col-md-12">-->
          <!--<form id="login-form" class="form" action="" method="post">-->
            <!--<h3 class="text-center text-info">Login</h3>-->
            <!--<div class="form-group">-->
              <!--<label class="text-info">Username:</label><br>-->
              <!--<input type="text" name="username" id="username" class="form-control">-->
              <!--<p ><span class="fa fa-user"></span><input class="form-control" type="text" #username name="username" placeholder="Username"></p>-->

            <!--</div>-->
            <!--<div class="form-group">-->
              <!--<label class="text-info">Password:</label><br>-->
              <!--<input type="text" name="password" id="password" class="form-control">-->
              <!--<input class="form-control" type="password" #password name="password" placeholder="Password">-->
            <!--</div>-->
            <!--<div class="form-group">-->
              <!--<label for="remember-me" class="text-info"><span>Remember me</span> <span><input id="remember-me" name="remember-me" type="checkbox"></span></label><br>-->
              <!--<input class="btn btn-info btn-md" type="submit" (click)="logIn(username.value, password.value, $event)"  value="Login">-->
            <!--</div>-->
            <!--<div id="register-link" class="text-right">-->
              <!--<a href="#" class="text-info">Register here</a>-->
            <!--</div>-->
          <!--</form>-->
        <!--</div>-->
      <!--</div>-->
    <!--</div>-->
  <!--</div>-->
<!--</div>-->
<!--</body>-->


<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<div class="wrapper fadeInDown">
  <div id="formContent">
    <!-- Tabs Titles -->

    <!-- Icon -->


    <!-- Login Form -->
    <form>
      <!--<input class="btn btn-info btn-md" type="submit" (click)="logIn(username.value, password.value, $event)"  value="Login">-->

      <input type="text"  id="username" class="fadeIn second" #username name="username" placeholder="username" >
      <input type="password" id="password" class="fadeIn third" #password name="password" placeholder="password">
      <input type="submit" (click)="logIn(username.value, password.value, $event)" class="fadeIn fourth" value="Login">
    </form>

    <!-- Remind Passowrd -->
    <div id="formFooter">
      <a class="underlineHover" href="#">Forgot Password?</a>
    </div>

  </div>
</div>
