<div class="custom-app-modal" *ngIf="visible">
  <div class="modal-dialog">
    <div class="modal-content">
      <form [formGroup]="myForm" (ngSubmit)="onSubmit()">
        <div class="modal-header">
          <h4 class="modal-title">Recuperar Contraseña</h4>
          <button type="button" class="close" (click)="closeModal()">&times;</button>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <label>Correo electrónico</label>
            <input formControlName="email" type="text" class="form-control" >
            <span *ngIf="myForm.get('email').errors" style="color:red">Ingrese un email válido</span>
          </div>
        </div>
        <div class="modal-footer">
          <div class="btn btn-default" (click)="closeModal()">Cancel</div>
          <button type="submit"  class="btn btn-success">Aceptar</button>
        </div>
      </form>
    </div>
  </div>
</div>
