<div class="custom-app-modal" *ngIf="visible" xmlns="http://www.w3.org/1999/html">
  <div class="modal-dialog">
    <div class="modal-content">
      <form [formGroup]="myForm" (ngSubmit)="onSubmit()">
        <div class="modal-header">
          <h4 class="modal-title">Modificar Restaurante</h4>
          <button type="button" class="close" (click)="closeModal()">&times;</button>
        </div>
        <div class="modal-body">
          <!--<div class="form-group">-->
          <!--<label>Nombre</label>-->
          <!--<input type="text" class="form-control" #nombre required>-->
          <!--</div>-->
          <!--          <div class="form-group">
                      <label>Nombre del Restaurante</label>
                      <input type="text" class="form-control" #name required>
                    </div>-->
          <div class="form-group">
            <label>Nombre del Restaurante</label>
            <input (input)="onInputName($event.target.value)" placeholder="Introduce nombre para el restaurante..." maxlength="30" formControlName="nombre" type="text" class="form-control" >
            <span *ngIf="myForm.get('nombre').errors && myForm.get('nombre').touched" style="color:red">Ingrese un nombre válido</span>
            <span class="letras">Max: 30</span>
            <br/>
          </div>
          <!--          <div class="form-group">
                      <label>Descripción</label>
                      <input type="text" class="form-control" #description required>
                    </div>-->
          <div class="form-group">
            <label>Descripción</label>
            <textarea (input)="onInput($event.target.value)" placeholder="Introduce descripción..." maxlength="250" formControlName="descripcion" type="text" class="form-control" ></textarea>
            <span class="letras">Max: 250</span>
            <br/>
            <span *ngIf="myForm.get('descripcion').errors && myForm.get('descripcion').touched" style="color:red">Ingrese una descripción</span>

          </div>
        </div>
        <div class="modal-footer">
          <div class="btn btn-default" (click)="closeModal()">Cancel</div>
          <!--<input type="submit" (click)="adduser(nombre.value,email.value,username.value,password.value)" class="btn btn-success" value="Add">-->
          <!--<input type="submit"  class="btn btn-success" value="Add" data-target="#AvanzaModal" (click)="addrestaurant(name.value, description.value)">-->
          <button type="submit"  class="btn btn-success">Editar</button>
        </div>
      </form>
    </div>
  </div>
</div>
