.photo-selector {
  width: 100%;
  padding-top: 15px;

  .input-wrapper {
    position: relative;
    width: 100%;
    height: 40px;
    overflow: hidden;
    background: #007bff;
    text-align: center;
    line-height: 40px;
    border-radius: 5px;
    color: white;

    .input-button {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
    }

    input {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      opacity: 0;
    }
  }

  .photos-wrapper {
    margin-top: 20px;

    .photo-wrapper {
      width: 200px;
      height: 200px;
      margin: 10px auto;
      position: relative;

      .photo {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }

      .remove-photo {
        position: absolute;
        bottom: 5px;
        right: 5px;
        width: 40px;
        height: 40px;
        background: rgba(0, 0, 0, 0.5);

        i {
          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
          color: white;
          font-size: 20pt;
          line-height: 40px;
          text-align: center;
        }
      }
    }
  }
}