<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Bootstrap CRUD Data Table for Database with Modal Form</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">-->
  <!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>-->
  <!--<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>-->


  <script type="text/javascript">
    $(document).ready(function(){
      // Activate tooltip
      $('[data-toggle="tooltip"]').tooltip();

      // Select/Deselect checkboxes
      var checkbox = $('table tbody input[type="checkbox"]');
      $("#selectAll").click(function(){
        if(this.checked){
          checkbox.each(function(){
            this.checked = true;
          });
        } else{
          checkbox.each(function(){
            this.checked = false;
          });
        }
      });
      checkbox.click(function(){
        if(!this.checked){
          $("#selectAll").prop("checked", false);
        }
      });
    });
  </script>
</head>
<body>
<app-main-nav></app-main-nav>
<div class="container">
  <div class="table-wrapper">
    <div class="table-title">
      <div class="row">
        <div class="col-sm-6">
          <h2>Administración de <b>Restaurantes</b></h2>
        </div>
        <!--<div class="col-sm-6">-->
          <!--<a href="#addEmployeeModal" class="btn btn-success" data-toggle="modal"><i class="material-icons">&#xE147;</i> <span>Add New Employee</span></a>-->
        <!--</div>-->
      </div>
    </div>
    <div class="table-responsive">
      <table class="table table-striped table-hover">
        <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Nombre</th>
          <th scope="col">Descripción</th>
          <!--<th scope="col">Dueño</th>-->
          <th scope="col">Acción</th>
          <!--<th scope="col">Información</th>-->
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let restaurant of restaurants; index as i">
          <th scope="row">{{i+1}}</th>
          <td class="ellipsis">{{restaurant.nameRestaurant}}</td>
          <td (click)="changeRestaurantSelected(restaurant, 'descriptionModal','descriptionRestaurant')" class="ellipsis">{{restaurant.descriptionRestaurant}}</td>
          <!--<td>{{(getUser(restaurant.idUser) | async)?.name}}</td>-->
          <td class="margen">
            <span (click)="changeRestaurantSelected(restaurant, 'createProductModal','createProduct')" class="create" ><i class="material-icons" style="color:mediumblue" data-toggle="tooltip" title="Crear Producto">fastfood</i></span>
            <span (click)="changeRestaurantSelected(restaurant, 'editRestaurantModal','setRestaurant')" class="edit" data-toggle="modal"><i class="material-icons" style="color:green" data-toggle="tooltip" title="Editar Restaurante">&#xE254;</i></span>
            <span (click)="changeRestaurantSelected(restaurant, 'deleteRestaurantModal','deleteRestaurant')" class="delete"><i class="material-icons" style="color:red" data-toggle="tooltip" title="Eliminar Restaurante">&#xE872;</i></span>
            <a  href="http://localhost:4200/restaurant/{{restaurant.idRestaurant}}/product" class="create"><i class="material-icons" style="color:purple" data-toggle="tooltip" title="Ver los productos">play_circle_filled</i></a>

          </td>
        </tr>
        </tbody>
      </table>
    </div>
    <div class="clearfix">
      <ul class="pagination">
        <li class="page-item">
          <app-paginate-r (restaurantPage)="getRestaurantPaginate($event)"></app-paginate-r>
        </li>
      </ul>
    </div>

      <div ng-controller="StudentCtrl as vm">
        <div ui-grid="gridOptions" class="grid" ui-grid-pagination>
        </div>
      </div>
  </div>
</div>
<app-createproduct [ProductTocreate]="RestaurantSelected"></app-createproduct>
<app-delete-r [RestaurantToDelete]="RestaurantSelected" (ModalClose)="loadRestaurant()"></app-delete-r>
<app-modifyrestaurant [RestaurantToEdit]="RestaurantSelected" (ModalClose)="loadRestaurant()"></app-modifyrestaurant>
<app-descripcion-restaurant [DescriptionRestaurant]="RestaurantSelected"></app-descripcion-restaurant>
</body>
</html>

